.grupoDetail{
    margin: 3rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.cuerpoCard{
    padding: 5px;
    margin: 1rem;
}

.titleDetail{
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.textPrice{
    font-size: 30px;
    font-weight: 600;
}

.ordenButtons{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}
.contador{
    width: 50px;
    margin: 0;
    text-align: center;
}
/* .botonCart{
    margin:0, 20px;
    padding:0, 20px;
} */

.conjuntoBotonesItemDetail{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;

}