.menu {
  background-color: rgb(177, 178, 255);
}
.logoOptica {
  width: 250px;
}
.carrito {
  display: flex;
  flex-direction: row;
}
.cart {
  width: 60%;
  height: auto;
}
.cartNumber {
  text-align: center;
  color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: red;
}

.textoNavBar {
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  font-weight: 600;
  padding-left: 3rem;
}
.txtNav {
  color: white;
  margin: 0 3rem;
}
.itemListBG {
  background-color: rgb(238, 241, 255);
  margin: 20px;
  text-align: center;
  height: 900px;
  font-family: "Quicksand", sans-serif;
}
